*{
    margin: 0%;
    padding: 0%;
}
.Outros-destaques{
    float: left;
    background-color: #6ce01a;
    width: 25%;
}
.titulo-destaques{
    background-color:#407f14 ;
    width: 100%;
    color: #1a242c;
    font-family: space mono;
    display: flex;
    justify-content: center;
    padding: 0;
}
.botao-destaques{
    width: 20%;
    height: 20px;
    margin-left: 60%;
    margin-top: 2%;
    margin-bottom: 1%;
    cursor:grab;
}
section p{
    display: flex;
    justify-content: center;
    text-align: justify;
}
section a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    height: 200px;
    color: #1a242c;
    font-family: Space Mono;
}

header h1 , 
h2{
    padding-left: 3%;
}

header h1{
    padding-top: 3%;
    font-size: 33px;
}

header h2{
    font-size: 15px;
}

header nav{
    padding-top: 1.9%;
    width: 100%;
    height: 40px;
    color: #1a242c;
    display: flex;
    justify-content: space-around;
}

header nav div{
    cursor:crosshair;

}